
@{
    ViewBag.Title = "Index";
}

    <div class="row  col-12">
        <img src="~/Content/img/img01.jpg" class="card-img" alt="10">
        <div class="card-img-overlay">
            <h5 class="card-title">Veterinaria</h5>
            <p class="card-text">Esto es una veterinaria Agende su cita.</p>
            <p class="card-text">Hola.</p>
        </div>
    </div>
